/* Import Inter & Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

[data-theme="swiss"] {
  /* Base Palette Colors */
  --su-yellow: oklch(88% 0.1809 94);
  --su-orange: oklch(66% 0.22 38);
  --su-red: oklch(52% 0.2 27);
  --su-pink: oklch(55% 0.23 357);
  --su-purple: oklch(42% 0.14 320);
  --su-blue: oklch(59% 0.14 244);
  --su-cyan: oklch(64% 0.11 186);
  --su-green: oklch(63% 0.18 149);
  --su-white: oklch(92% 0.005 86);
  --su-gray: oklch(70% 0.005 86);
  --su-black: oklch(26% 0.005 86);

  /* Accent color, here blue reported from the palette */
  --su-accent: var(--su-red);

  /* Semantic text */
  --su-body: oklch(from var(--su-accent) 45% 0.01 h);
  --su-title: #000;

  /* Semantic background */
  --su-page: oklch(from var(--su-accent) 97% 0 h);
  --su-container: oklch(from var(--su-accent) 100% 0 h);
  --su-subtle: oklch(from var(--su-accent) 95% 0.01 h);

  /* Scroll bar */
  --su-sb-track-color: var(--su-container);
  --su-sb-thumb-color: oklch(from var(--su-accent) l 0.1 h);

  /* Typography */
  --su-ff-base: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --su-fs-adjust-base: none;

  --su-ff-title: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --su-fs-adjust-title: none;

  --su-ff-mono: "Google Sans Code", monospace;
  --su-fs-adjust-mono: 0.559;

  --su-ff-handwritten: "Indie Flower";
  --su-fs-adjust-handwritten: 0.44;

  --su-lh-title: 1.2;
  --su-lh-base: 1.5;

  /* Headings */
  --su-fs-h1: clamp(2.25rem, 1.6rem + 2.8vw, 3rem);
  --su-fs-h2: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.6);
  --su-fs-h3: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.35);
  --su-fs-h4: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.19);
  --su-fs-h5: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.1);
  --su-fs-h6: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.04);

  --su-fw-h1: 800;
  --su-fw-h2: 800;
  --su-fw-h3: 700;
  --su-fw-h4: 700;
  --su-fw-h5: 700;
  --su-fw-h6: 700;

  --su-ls-h1: -0.06em;
  --su-ls-h2: -0.05em;
  --su-ls-h3: -0.04em;
  --su-ls-h4: -0.03em;
  --su-ls-h5: -0.02em;
  --su-ls-h6: -0.01em;

  /* default border colors*/
  --su-border: oklch(from var(--su-accent) 94% 0.01 h);
}

/* Dark mode */
[data-theme="swiss"][data-color-scheme="dark"] {
  --su-border: oklch(from var(--su-accent) 27% 0.005 h);

  /* Semantic text */
  --su-text-body: oklch(from var(--su-accent) 85% 0.001 h);
  --su-text-title: #fff;

  /* Semantic background */
  --su-page: oklch(from var(--su-accent) 18% 0.003 h);
  --su-container: oklch(from var(--su-accent) 23% 0.003 h);
  --su-subtle: oklch(from var(--su-accent) 30% 0.003 h);
}
