/* Import Inter & Indie Flower for default theme */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

[data-theme="adjuvio"] {
  /* Base Palette Colors */
  --su-yellow: oklch(0.9137 0.1624 98.24);
  --su-orange: oklch(0.8002 0.1551 67.32);
  --su-red: oklch(0.6597 0.2021 25.78);
  --su-pink: oklch(0.6938 0.2458 329.47);
  --su-purple: oklch(0.5781 0.227 301.98);
  --su-blue: oklch(0.6534 0.1611 253.24);
  --su-cyan: oklch(0.77 0.1265 190.49);
  --su-green: oklch(0.711 0.1774 149.15);
  --su-white: oklch(0.95 0.01 253.24);
  --su-gray: oklch(0.5861 0.0302 253.24);
  --su-black: oklch(0.1831 0.0297 251.41);

  /* Accent color, here blue reported from the palette */
  --su-accent: var(--su-blue);

  /* Semantic text */
  --su-body: oklch(from var(--su-accent) 60% 0.01 h);
  --su-title: oklch(from var(--su-accent) 10% 0.01 h);

  /* Semantic background */
  --su-page: oklch(from var(--su-accent) 99% 0.006 h);
  --su-container: oklch(from var(--su-accent) 100% 0 h);
  --su-subtle: oklch(from var(--su-accent) 98% 0.01 h);

  /* Scroll bar */
  --su-sb-track-color: var(--su-container);
  --su-sb-thumb-color: oklch(from var(--su-gray) l 0.05 h);

  /* Typography */
  --su-ff-base: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --su-fs-adjust-base: none;

  --su-ff-title: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --su-fs-adjust-title: none;

  --su-ff-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", Consolas, monaco, monospace;
  --su-fs-adjust-mono: 0.548;

  --su-ff-handwritten: "Indie Flower";
  --su-fs-adjust-handwritten: 0.44;

  /* Line Heights - Titles usually need less leading than body text */
  --su-lh-title: 1.2;
  --su-lh-base: 1.5;

  /* Headings */
  --su-fs-h1: clamp(2.25rem, 1.6rem + 2.8vw, 3rem);
  --su-fs-h2: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.6);
  --su-fs-h3: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.35);
  --su-fs-h4: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.19);
  --su-fs-h5: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.1);
  --su-fs-h6: calc(1rem + (var(--su-fs-h1) - 1rem) * 0.04);

  --su-fw-h1: 800;
  --su-fw-h2: 800;
  --su-fw-h3: 700;
  --su-fw-h4: 700;
  --su-fw-h5: 700;
  --su-fw-h6: 700;

  --su-ls-h1: -0.06em;
  --su-ls-h2: -0.05em;
  --su-ls-h3: -0.04em;
  --su-ls-h4: -0.03em;
  --su-ls-h5: -0.02em;
  --su-ls-h6: -0.01em;

  /* Default border colors*/
  --su-border: oklch(from var(--su-accent) 94% 0.01 h);
}

[data-theme="adjuvio"][data-color-scheme="dark"] {
  --su-border: oklch(from var(--su-accent) 29% 0.03 h);

  /* Semantic text */
  --su-body: oklch(from var(--su-accent) 85% 0.001 h);
  --su-title: #fff;

  /* Semantic background */
  --su-page: oklch(from var(--su-black) 16% c h);
  --su-container: oklch(from var(--su-black) 22% c h);
  --su-subtle: oklch(from var(--su-black) 26% c h);
}
