:root {
  /* Base */
  --su-input-bg: color-mix(var(--su-container), #fff 5%);
  --su-input-text: var(--su-body);
  --su-input-border-color: var(--su-border);
  --su-input-border-width: 1px;
  --su-input-border-radius: 0.375rem;
  --su-input-placeholder-color: oklch(from var(--su-body) l c h / 45%);

  /* Focus-visible */
  --su-input-border-focus-visible: var(--su-input-border-color);
  --su-input-ol-focus-visible: oklch(from var(--su-accent) l c h / 30%);
  --su-input-ol-width-focus-visible: 3px;

  /* Disabled */
  --su-input-bg-disabled: color-mix(var(--su-input-bg), #000 10%);
  --su-input-text-disabled: oklch(from var(--su-input-text) l c h / 40%);

  /* Drop-down list */
  --su-input-select-bg-hover: var(--su-input-bg);
  --su-input-select-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");

  /* File selector */
  --su-input-file-bg: var(--su-input-bg);
  --su-input-file-bg-hover: color-mix(var(--su-input-bg), #000 7%);
  --su-input-file-text: var(--su-body);

  /* Valid */
  --su-input-border-valid: var(--su-green);
  --su-input-border-valid-focus-visible: var(--su-input-border-valid);
  --su-input-ol-valid-focus-visible: oklch(from var(--su-input-border-valid) l c h / 30%);

  /* Invalid */
  --su-input-border-invalid: var(--su-red);
  --su-input-border-invalid-focus-visible: var(--su-input-border-invalid);
  --su-input-ol-invalid-focus-visible: oklch(from var(--su-input-border-invalid) l c h / 30%);
}

[data-color-scheme="dark"] {
  /* Focus-visible */
  --su-input-ol-focus-visible: oklch(from var(--su-accent) l c h / 50%);

  /* Drop-down list */
  --su-input-select-bg-hover: color-mix(var(--su-input-bg), #fff 10%);

  /* File selector */
  --su-input-file-bg-hover: color-mix(var(--su-input-bg), #fff 10%);

  /* Valid */
  --su-input-ol-valid-focus-visible: oklch(from var(--su-input-border-valid) l c h / 50%);

  /* Invalid */
  --su-input-ol-invalid-focus-visible: oklch(from var(--su-input-border-invalid) l c h / 50%);
}
